# Ignore virtual environment
.venv/
venv/

__pycache__/

# Ignore CSV data files
data/*
*.csv

# (optional) ignore Jupyter checkpoints if you use notebooks
.ipynb_checkpoints/

# (optional) ignore macOS metadata files
.DS_Store
